[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    remotes = remote -v
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order    
[push]
	default = simple
[user]
	email = yorick@yorickvanpelt.nl
	name = Yorick van Pelt
	signingkey = A36E70F9DC014A15
[help]
	autocorrect = 5
