[submodule "x/pointless-xcompose"]
	path = x/pointless-xcompose
	url = https://github.com/leoboiko/pointless-xcompose
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
